.wrapper {
  margin-top: 70px;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
}

#content {
  flex-grow: 1;
}

.ace_editor {
  width: inherit !important;
}

.code-input {
  height: 100%;
}

footer {
  height: 60px;
}

.align-text-vertical-center {
  display: flex;
  align-items: center;
}

#lesson-content {
  height: calc(100vh - 60px - 90px);
  overflow-y: auto;
}

.pointer {
  cursor: pointer;
}

.sidebar {
  position: fixed;
  box-shadow:0 0 0 10000px rgba(0,0,0,.50);
  height: 100%;
  width: 300px;
  overflow-y: auto;                   
}

.book-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
}

.large-button {
  font-size: 1.2em !important;
}